<%- include('../layouts/header') %>

  <section class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h4 class="card-title mb-0">
                <%= page_name %> h
              </h4>

              <div class="row">
                <div class="col-12 text-end">
                  <% if (req.query.status==='trashed' ) { %>
                    <a class="btn btn-primary" href="<%= list_url %>">
                      <i class="fas fa-list"></i>
                    </a>
                    <% } else { %>
                      <a class="btn btn-danger btn-sm" href="<%= trashed_list_url %>">
                        <i class="fas fa-trash"></i>
                      </a>
                      <% } %>

                        <a class="btn btn-info btn-sm" href="<%= create_url %>">
                          <i class="fas fa-plus"></i>
                        </a>
                        <button type="button" id="backButton" class="btn btn-primary btn-sm">
                          <i class="fa fa-arrow-left"></i>
                        </button>
                </div>
              </div>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table id="example3" class="display table-responsive-lg">
                  <thead>
                    <tr>
                      <th>Sr.No #</th>

                      <th>Title</th>

                      <th>Image</th>


                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% items.forEach((post, index)=> { %>
                      <tr>
                        <td>
                          <%= index + 1 %>
                        </td>

                        <td>
                          <%= post.title %>
                        </td>
                         <td>
                          <% if (post.image) { %>
                            <a href="<%= publicUrl +  post.image %>" target="_blank">
                              <img src="<%= publicUrl +  post.image %>" width="100" />
                            </a>
                            <% } else { %>
                              No Image
                              <% } %>
                        </td>

                  
                        </td>
                       
                        <td>
                          <% if (post.status==1) { %>
                            <label class="badge badge-success">Active</label>
                            <% } else { %>
                              <label class="badge badge-danger">Inactive</label>
                              <% } %>
                        </td>


                        <td>
                          <a href="/admin/service-city-show/<%= post.id %>" class="btn btn-primary shadow btn-xs sharp me-1"><i
                              class="fas fa-eye"></i></a>
                          <a href="/admin/service-city-edit/<%= post.id %>" class="btn btn-primary shadow btn-xs sharp me-1"><i
                              class="fas fa-pencil-alt"></i></a>
                          <a href="/admin/service-city-delete/<%= post.id %>" class="btn btn-danger shadow btn-xs sharp"><i
                              class="fa fa-trash"></i></a>
                        </td>

                      </tr>
                      <% }); %>

                        <% function formatDate(dateString) { const date=new Date(dateString); const options={
                          year: 'numeric' , month: 'short' , day: 'numeric' , hour: 'numeric' , minute: 'numeric' ,
                          hour12: true }; return new Intl.DateTimeFormat('en-US', options).format(date); } %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
    <%- include('../layouts/footer') %>