<!DOCTYPE html>
<html lang="en">



<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bansal Classes</title>
  
  <link rel="stylesheet" href="<%= base_url %>admin/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="<%= base_url %>admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="<%= base_url %>admin/vendors/css/vendor.bundle.addons.css">
  
  
  
  
  <link rel="stylesheet" href="<%= base_url %>admin/css/style.css">
  
  <link rel="shortcut icon" href="<%= base_url %>admin/images/favicon.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>
<body>