<%- include('../layouts/header') %>

<section class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-0">
                            <%= page_name %>
                        </h4>


                        <button type="button" id="backButton" class="btn btn-primary btn-sm"> <i
                                class="fa fa-arrow-left"></i></button>

                    </div>
                    <div class="card-body">

                        <form id="submitForm" method="post" action="<%= form_url %>" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Category Name*</label>
                                        <select class="form-control" name="category_id" id="category_id">
                                            <option value="">Select</option>
                                            <% categories.forEach(function(category) { %>
                                                <option value="<%= category.id %>" <% if (post &&
                                                    category.id===post.category_id) { %> selected <% } %>>
                                                        <%= category.category_name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>
                               <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="course_class">Class</label>
                                        <select id="class_id" name="class_id" class="form-control">
                                            <option value="">Select Class</option>
                                            <% course_classes.forEach(function(val) { %>
                                                <option value="<%= val.id %>" <%=post && post.class_id &&
                                                    post.class_id==val.id ? 'selected' : '' %>>
                                                    <%= val.name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Book Name *</label>
                                            <input type="text" class="form-control" name="book_name" id="book_name"
                                                placeholder="Book Name.." value="<%= post.book_name %>" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Title Heading *</label>
                                            <input type="text" class="form-control" name="title_heading"
                                                id="title_heading" placeholder="Title Heading.."
                                                value="<%= post.title_heading %>" />
                                        </div>
                                    </div>


                                    <input type="hidden" name="id" value="<%= post.id %>">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label"><%= module_name %> Type*</label>
                                            <select class="form-control" name="book_type" id="book_type">
                                                <option value="paid" <%=post.book_type==="paid" ? 'selected' : '' %>
                                                    >Paid</option>
                                                <option value="free" <%=post.book_type==="free" ? 'selected' : '' %>
                                                    >Free</option>
                                            </select>
                                        </div>
                                    </div>

                                        <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Batch Year*</label>
                                        <select class="form-control" name="batch_year" id="batch_year">
                                            <option value="" >Select Batch Year</option>
                                            <option value="2025" <%=post.batch_year=='2025' ? 'selected' : '' %>
                                                >2025</option>
                                            <option value="2024" <%=post.batch_year=='2024' ? 'selected' : '' %>
                                                >2024</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row paid_course">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Price *</label>
                                        <input type="number" value="<%= post.price %>" class="form-control"
                                            name="price" id="price" placeholder="Price.." />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Discount Type *</label>
                                        <select class="form-control" name="discount_type" id="discount_type">
                                            <option value="">Select</option>
                                            <option value="percentage" <%=post.discount_type==='percentage'
                                                ? 'selected' : '' %>>Percentage</option>
                                            <option value="price" <%=post.discount_type==='price' ? 'selected' : '' %>
                                                >Price</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Discount *</label>
                                        <input type="number" value="<%= post.discount %>" class="form-control"
                                            name="discount" id="discount" placeholder="Discount.." />
                                    </div>
                                </div>
                            </div>
                          




                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Short Description*</label>
                                        <textarea class="form-control" name="content" id="content"
                                            placeholder="Content"><%= post.content %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Description*</label>
                                        <textarea class="form-control ckeditor" name="description" id="description"
                                            placeholder="Description"><%= post.description %></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Image *</label>
                                        <input type="file" class="form-control" name="image"
                                        accept="image/*" 
                                            onchange="readURL(this, 'image_view');" id="image" />
                                        <!-- Use the post image or fallback to the default image -->
                                        

                                        <img id="image_view"
                                            src="<%= post.image ? publicUrl + post.image : base_url + 'admin/images/default-featured-image.png' %>"
                                            width="150px" />

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Details Image *</label>
                                        <input type="file" class="form-control" name="details_image" id="details_image"
                                            accept="image/*" 
                                            onchange="readURL(this, 'image_view');" />
                                        

                                         <img id="image_view" class="preview"
                                            src="<%= post.details_image ?  publicUrl + post.details_image : base_url + 'admin/images/default-featured-image.png' %>"
                                            width="150px" />
                                    </div>
                                </div>
                                        <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <select name="status" id="status" class="form-control custom-select">
                                        <option value="1" <%=post.status==1 ? 'selected' : '' %>>Active
                                        </option>
                                        <option value="0" <%=post.status==0 ? 'selected' : '' %>>Inactive
                                        </option>
                                    </select>
                                </div>
                                </div>
                                
                            </div>
                            <hr>
                            <div class="col-md-12">

                                <button type="submit" id="submitButton" class="btn btn-primary float-right"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."
                                    data-rest-text="Create">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <%- include('../layouts/footer') %>

        <!-- <script>
  function readURL(input, imgId) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
              document.getElementById(imgId).src = e.target.result;
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  </script> -->


        

        <script>
            $(document).ready(function () {
                $('.instructor').select2({
                    //  placeholder: "Select Faculty",
                    allowClear: true
                });
            });
        </script>
       

        <script>
            $("#course_type").change(function () {
                var course_type = $(this).val();
                if (course_type == "free") {
                    $(".paid_course").addClass('d-none');
                }
                else {
                    $(".paid_course").removeClass('d-none');
                }
            });
           

            $(".instructor").select2();
        </script>