<%- include('../layouts/header') %>

<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-0">
                            <%= page_name %>
                        </h4>


                        <button type="button" id="backButton" class="btn btn-primary btn-sm"> <i
                                class="fa fa-arrow-left"></i> Back</button>

                    </div>
                    <div class="card-body">

                        <form id="submitForm" method="post" action="<%= form_url %>" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Category Name*</label>
                                        <select class="form-control" name="category_id" id="category_id">
                                            <option value="">Select</option>
                                            <% categories.forEach(function(category) { %>
                                                <option value="<%= category.id %>" <% if (course &&
                                                    category.id===course.category_id) { %> selected <% } %>>
                                                        <%= category.category_name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <% course.course_name %>
                                    <div class="form-group">
                                        <label for="course_class">Course Class</label>
                                        <select id="course_class_id" name="course_class_id" class="form-control">
                                            <option value="">Select Class</option>
                                            <% course_classes.forEach(function(val) { %>
                                                <option value="<%= val.id %>" <%=course && course.course_class_id &&
                                                    course.course_class_id==val.id ? 'selected' : '' %>>
                                                    <%= val.name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Course Name *</label>
                                            <input type="text" class="form-control" name="course_name" id="course_name"
                                                placeholder="Course Name.." value="<%= course.course_name %>" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Title Heading *</label>
                                            <input type="text" class="form-control" name="title_heading"
                                                id="title_heading" placeholder="Title Heading.."
                                                value="<%= course.title_heading %>" />
                                        </div>
                                    </div>


                                    <input type="hidden" name="id" value="<%= course.id %>">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Course Type*</label>
                                            <select class="form-control" name="course_type" id="course_type">
                                                <option value="paid" <%=course.course_type==="paid" ? 'selected' : '' %>
                                                    >Paid</option>
                                                <option value="free" <%=course.course_type==="free" ? 'selected' : '' %>
                                                    >Free</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>

                            <div class="row paid_course">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Price *</label>
                                        <input type="number" value="<%= course.price %>" class="form-control"
                                            name="price" id="price" placeholder="Price.." />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Discount Type *</label>
                                        <select class="form-control" name="discount_type" id="discount_type">
                                            <option value="">Select</option>
                                            <option value="percentage" <%=course.discount_type==='percentage'
                                                ? 'selected' : '' %>>Percentage</option>
                                            <option value="price" <%=course.discount_type==='price' ? 'selected' : '' %>
                                                >Price</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Discount *</label>
                                        <input type="number" value="<%= course.discount %>" class="form-control"
                                            name="discount" id="discount" placeholder="Discount.." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Duration (In Month)*</label>
                                        <input type="number" class="form-control" name="duration" id="duration"
                                            placeholder="Duration.." value="<%= course.duration %>" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Facultyddd *</label>
                                        <select name="teachers[]" id="teachers" multiple style="width:100%"
                                            class="form-control instructor">
                                            <option value="">Select Faculty</option>
                                            <option value="24" <%=(course.teacher_ids || []).includes(24) ? 'selected'
                                                : '' %>>Jogender Choudhary Sir</option>
                                            <option value="25" <%=course.teacher_ids.includes(25) ? 'selected' : '' %>
                                                >Rajendra Sir</option>
                                            <option value="26" <%=course.teacher_ids.includes(26) ? 'selected' : '' %>
                                                >Amit Dehra Sir</option>
                                            <option value="28" <%=course.teacher_ids.includes(28) ? 'selected' : '' %>
                                                >RCM Sir</option>
                                            <option value="29" <%=course.teacher_ids.includes(29) ? 'selected' : '' %>
                                                >Rajaram Sir</option>
                                            <option value="31" <%=course.teacher_ids.includes(31) ? 'selected' : '' %>
                                                >Kamal Sir</option>
                                            <option value="32" <%=course.teacher_ids.includes(32) ? 'selected' : '' %>
                                                >Banwari Sir</option>
                                            <option value="44" <%=course.teacher_ids.includes(44) ? 'selected' : '' %>
                                                >Ragini Tripathi Ma'am</option>
                                            <option value="55" <%=course.teacher_ids.includes(55) ? 'selected' : '' %>
                                                >Ajay Singh Bhadoriya Sir</option>
                                            <option value="59" <%=course.teacher_ids.includes(59) ? 'selected' : '' %>
                                                >Dharmendra Ojha Sir</option>
                                            <option value="60" <%=course.teacher_ids.includes(60) ? 'selected' : '' %>
                                                >Himanshu Soni Sir</option>
                                            <option value="61" <%=course.teacher_ids.includes(61) ? 'selected' : '' %>
                                                >Hrithik Verma Sir</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Mode Of Class*</label>
                                        <select class="form-control" name="mode_of_class" id="mode_of_class">
                                            <option value="recorded" <%=course.mode_of_class=='recorded' ? 'selected'
                                                : '' %>>Recorded</option>
                                            <option value="live" <%=course.mode_of_class=='live' ? 'selected' : '' %>
                                                >Live</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Batch Type*</label>
                                        <select class="form-control" name="batch_type" id="batch_type">
                                            <option value="online" <%=course.batch_type=='online' ? 'selected' : '' %>
                                                >Online</option>
                                            <option value="offline" <%=course.batch_type=='offline' ? 'selected' : '' %>
                                                >Offline</option>
                                        </select>
                                    </div>
                                </div>


                               <div class="col-md-4 center-show">
  <div class="form-group">
    <label class="form-label">Center*</label>
    <select class="form-control" name="center" id="center">
      <option value="">Select Center</option>
      <% centers.forEach(function(center) { %>
        <option value="<%= center.id %>" <%= course.center_id == center.id ? 'selected' : '' %>>
          <%= center.name %>
        </option>
      <% }) %>
    </select>
  </div>
</div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Meeting Link</label>
                                        <input class="form-control" name="meeting_link" id="meeting_link"
                                            placeholder="Meeting Link" value="<%= course.meeting_link || '' %>" />
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="form-label">Course Visibility</label>
                                        <div class="ml-2 d-flex mt-2">
                                            <div class="" style="width: 100px;">
                                                <input class="form-check-input" type="checkbox"
                                                    name="course_visibility[]" value="featured"
                                                    <%=course.course_visibility &&
                                                    course.course_visibility.includes('featured') ? 'checked' : '' %> />
                                                <label class="form-check-label mb-0">Featured</label>
                                            </div>

                                            <div class="" style="width: 100px;">
                                                <input class="form-check-input" type="checkbox"
                                                    name="course_visibility[]" value="up_comming"
                                                    <%=course.course_visibility &&
                                                    course.course_visibility.includes('up_comming') ? 'checked' : '' %>
                                                />
                                                <label class="form-check-label mb-0">Upcoming</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Short Description*</label>
                                        <textarea class="form-control" name="content" id="content"
                                            placeholder="Content"><%= course.content %></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Description*</label>
                                        <textarea class="form-control" name="description" id="description"
                                            placeholder="Description"><%= course.description %></textarea>
                                    </div>
                                </div>

                                <div class="form-group col-12">
                                    <label class="form-label">Service *</label>
                                    <% if (services && services.length> 0) {
                                        const selectedServices = course.service_id ? course.service_id.split(',') : [];
                                        %>
                                        <div class="row">
                                            <% services.forEach(function(item) { %>
                                                <div class="mb-12 col-md-3">
                                                    <label class="form-label"
                                                        style="font-weight: 800; font-size: 12px; gap: 10px; display: flex; align-items: center;"
                                                        for="service<%= item.id %>">
                                                        <input type="checkbox" name="service_id[]"
                                                            value="<%= item.id %>" id="service<%= item.id %>"
                                                            <%=selectedServices.includes(item.id.toString()) ? 'checked'
                                                            : '' %> />
                                                        <%= item.title %>
                                                    </label>
                                                </div>
                                                <% }) %>
                                        </div>
                                        <% } %>
                                </div>



                                <div class="form-group">
                                    <label class="form-label">Start Time *</label>
                                    <input type="date" class="form-control" name="start_time" id="start_time" min=""
                                        value="<%= course.start_time %>">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Image *</label>
                                        <input type="file" class="form-control" name="image"
                                        accept="image/*" 
                                            onchange="readURL(this, 'image_view');" id="image" />
                                        <!-- Use the course image or fallback to the default image -->
                                        <!-- <img id="image_view" src="" width="200px"> -->

                                        <img id="image_view"
                                            src="<%= course.image ? publicUrl + course.image : base_url + 'admin/images/default-featured-image.png' %>"
                                            width="150px" />

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Details Image *</label>
                                        <input type="file" class="form-control" name="details_image" id="details_image"
                                        accept="image/*" 
                                            onchange="readURL(this, 'details_image_view');" />
                                        

                                        <img id="image_view"
                                            src="<%= course.details_image ? publicUrl + course.details_image : base_url + 'admin/images/default-featured-image.png' %>"
                                            width="150px" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Course Brochure *</label>
                                        <input type="file" class="form-control" name="brochure" id="brochure"
                                            accept=".pdf">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Course Oriented Video</label>
                                        <input type="text" class="form-control" name="video" id="video"
                                            placeholder="Course Oriented Video" />
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">SEO Title</label>
                                        <textarea class="form-control" name="seo_title" id="seo_title"
                                            placeholder="SEO Title" /></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">SEO Description</label>
                                        <textarea class="form-control" name="seo_description" id="seo_description"
                                            placeholder="SEO Description" /></textarea>
                                    </div>
                                </div> -->
                                <div class="form-group col-sm-4">
                                    <label class="form-label">Status</label>
                                    <select name="status" id="status" class="form-control custom-select">
                                        <option value="1" <%=course.status==1 ? 'selected' : '' %>>Active
                                        </option>
                                        <option value="0" <%=course.status==0 ? 'selected' : '' %>>Inactive
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-12">

                                <button type="submit" id="submitButton" class="btn btn-primary float-right"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."
                                    data-rest-text="Create">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../layouts/footer') %>

        <!-- <script>
  function readURL(input, imgId) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
              document.getElementById(imgId).src = e.target.result;
          }
          reader.readAsDataURL(input.files[0]);
      }
  }
  </script> -->
      

     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />




        <!-- Select2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

        <script>
            $(document).ready(function () {
                $('.instructor').select2({
                    //  placeholder: "Select Faculty",
                    allowClear: true
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                // Ensure a form exists before trying to attach the submit handler
                if ($('form').length > 0) {
                    $('form').submit(function (e) {
                        e.preventDefault();

                        var $form = $(this);
                        var $btn = $form.find('[type="submit"]');

                        buttonLoading('loading', $btn);  // Assuming this is a function for loading button state
                        $form.find('.is-invalid').removeClass('is-invalid state-invalid');
                        $form.find('.invalid-feedback').remove();

                        // Use FormData for form submission
                        $.ajax({
                            url: $form.attr('action'),
                            type: "POST",
                            data: new FormData(this),
                            processData: false,
                            contentType: false,
                            cache: false,
                            success: function (data) {
                                if (data.success) {
                                    successMsg('', data.message);  // Assuming successMsg is a function
                                    setTimeout(function () {
                                        window.location = data.redirect_url;
                                    }, 1000);
                                } else {
                                    handleFormErrors(data.errors, $form);  // Handle validation errors
                                    errorMsg('', data.message);  // Assuming errorMsg is a function
                                }
                                buttonLoading('reset', $btn);  // Reset button state
                            },
                            error: function (xhr) {
                                if (xhr.status === 422) {
                                    handleFormErrors(xhr.responseJSON.errors, $form);  // Handle validation errors
                                    errorMsg('', xhr.responseJSON.message);  // Show error message
                                } else {
                                    errorMsg('', 'Unexpected error occurred');
                                }
                                buttonLoading('reset', $btn);  // Reset button state
                            }
                        });
                    });
                }
            });

            // Function to handle form errors
            function handleFormErrors(errors, $form) {
                $.each(errors, function (fieldName, messages) {
                    var $field = $form.find('[name="' + fieldName + '"]');
                    $field.addClass('is-invalid state-invalid');
                    $field.parent().append('<div class="invalid-feedback">' + messages[0] + '</div>');
                });
            }
        </script>


        <script>
            $("#course_type").change(function () {
                var course_type = $(this).val();
                if (course_type == "free") {
                    $(".paid_course").addClass('d-none');
                }
                else {
                    $(".paid_course").removeClass('d-none');
                }
            });
            CKEDITOR.replace('description');

            $(".instructor").select2();
        </script>