<%- include('../layouts/header') %>

  <div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between">
              <h4 class="card-title mb-0">
                <%= page_name %>
              </h4>


              <button type="button" id="backButton" class="btn btn-primary btn-sm"> <i class="fa fa-arrow-left"></i>
                Back</button>

            </div>
            <div class="card-body">

              <form id="submitForm" method="post" action="<%= form_url %>" enctype="multipart/form-data">
                <div class="row">

                  <!-- Category Dropdown -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Category Name*</label>
                      <select class="form-control" name="category_id" id="category_id">
                        <option value="">Select</option>
                        <% categories.forEach(function(category) { %>
                          <option value="<%= category.id %>" <%=post?.category_id==category.id ? 'selected' : '' %>>
                            <%= category.category_name %>
                          </option>
                          <% }); %>
                      </select>
                    </div>
                  </div>

                  <!-- Name -->
                  <div class="form-group col-md-6">
                    <label class="form-label">Name *</label>
                    <input type="text" class="form-control" name="name" id="name" value="<%= post?.name || '' %>">
                  </div>

                  <!-- Email -->
                  <div class="form-group col-md-6">
                    <label class="form-label">Email *</label>
                    <input type="text" class="form-control" name="email" id="email" value="<%= post?.email || '' %>">
                  </div>

                  <!-- Phone -->
                  <div class="form-group col-md-4">
                    <label class="form-label">Phone No *</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="<%= post?.phone || '' %>">
                  </div>

                  <!-- Subject -->
                  <div class="form-group col-md-4">
                    <label class="form-label">Subject *</label>
                    <input type="text" class="form-control" name="subject" id="subject"
                      value="<%= post?.subject || '' %>">
                  </div>

                  <!-- Experience -->
                  <div class="form-group col-md-4">
                    <label class="form-label">Experience *</label>
                    <input type="text" class="form-control" name="experience" id="experience"
                      value="<%= post?.experience || '' %>">
                  </div>

                  <!-- Teaching Mode -->
                  <div class="form-group col-md-4">
                    <label class="form-label">Teaching Mode*</label>
                    <select name="teaching_mode" id="teaching_mode" class="form-control">
                      <option value="online" <%=post?.teaching_mode==='online' ? 'selected' : '' %>>Online</option>
                      <option value="offline" <%=post?.teaching_mode==='offline' ? 'selected' : '' %>>Offline</option>
                    </select>
                  </div>

                  <!-- Short Description -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Short Description*</label>
                      <textarea class="form-control" name="short_description"
                        id="short_description"><%= post?.short_description || '' %></textarea>
                    </div>
                  </div>

                  <!-- Description/Bio -->
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-label">Description/Bio*</label>
                      <textarea class="form-control ckeditor" name="description"
                        id="description"><%= post?.description || '' %></textarea>
                    </div>
                  </div>

                  <!-- Image Upload -->
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Image *</label>
                      <input type="file" class="form-control" name="image"  accept="image/*"   />
                      <img id="image_view"
                        src="<%= post?.image ?  post.image : base_url + 'admin/images/default-featured-image.png' %>"
                        width="150px" />
                    </div>
                  </div>

                  <!-- Status -->
                  <div class="form-group col-md-4">
                    <label class="form-label">Status</label>
                    <select name="status" id="status" class="form-control">
                      <option value="1" <%=post?.status==1 ? 'selected' : '' %>>Active</option>
                      <option value="0" <%=post?.status==0 ? 'selected' : '' %>>Inactive</option>
                    </select>
                  </div>

                </div>

                <!-- Submit Button -->
                <div class="col-md-12 mt-3">
                  <button type="submit" id="submitButton" class="btn btn-primary float-right"
                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."
                    data-rest-text="<%= post?.page_name || page_name %>">
                    <%= post?.action || action %>
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('../layouts/footer') %>

  

    
