<%- include('../layouts/header') %>

<section class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="card-title mb-0">
                            <%= page_name %>
                        </h4>


                        <button type="button" id="backButton" class="btn btn-primary btn-sm"> <i
                                class="fa fa-arrow-left"></i> Back</button>

                    </div>
                    <div class="card-body">

                        <form id="submitForm" method="post" action="<%= form_url %>" enctype="multipart/form-data">

                            <div class="row">
                                

                               
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"> Title *</label>
                                        <input type="text" class="form-control" name="title" id="title"
                                            placeholder="title.." value="<%= post.title %>" />
                                    </div>
                                </div>

                          

                               
       <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Description*</label>
                                        <textarea class="form-control description ckeditor" name="description" id="description"
                                            placeholder="Description"><%= post.description %></textarea>
                                    </div>
                                </div>
                             
                        



                                <div class="col-md-12">
                                     <input type="hidden" name="id" value="<%= post.id %>">
                                </div>
                               
                               



                                <div class="form-group col-sm-4">
                                    <label class="form-label">Status</label>
                                    <select name="status" id="status" class="form-control custom-select">
                                        <option value="1" <%=post.status==1 ? 'selected' : '' %>>Active
                                        </option>
                                        <option value="0" <%=post.status==0 ? 'selected' : '' %>>Inactive
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-12">

                                <button type="submit" id="submitButton" class="btn btn-primary float-right"
                                    data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."
                                    data-rest-text="Create">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
      </div></div>
  </div></section>


    <%- include('../layouts/footer') %>


        


       